controllere/__pycache__/controller.cpython-38.pyc
controllere/__pycache__/controller.cpython-39.pyc
domain/__pycache__/entities.cpython-38.pyc
domain/__pycache__/entities.cpython-39.pyc
errors/__pycache__/exceptions.cpython-38.pyc
errors/__pycache__/exceptions.cpython-39.pyc
infrastructure/__pycache__/repository.cpython-38.pyc
infrastructure/__pycache__/repository.cpython-39.pyc
testing/__pycache__/tests.cpython-38.pyc
testing/__pycache__/tests.cpython-39.pyc
ui/__pycache__/console.cpython-38.pyc
ui/__pycache__/console.cpython-39.pyc
utils/__pycache__/sortari.cpython-38.pyc
validation/__pycache__/validators.cpython-38.pyc
validation/__pycache__/validators.cpython-39.pyc
controllere/__pycache__/controller.cpython-38.pyc
domain/__pycache__/entities.cpython-38.pyc
errors/__pycache__/exceptions.cpython-38.pyc
infrastructure/__pycache__/repository.cpython-38.pyc
testing/__pycache__/tests.cpython-38.pyc
ui/__pycache__/console.cpython-38.pyc
validation/__pycache__/validators.cpython-38.pyc
